@media screen and (max-width:375px){
    .nav-container{
        flex-direction:column;
    }
   
    .nav-container .first-nav{
        margin-bottom: 25px;
    }
    
    .nav-contianer .sec-nav{
        margin-top: 25px;
        margin-bottom:25px;
    }
}
*{
    margin:0px;
    padding:0px;
}
body{
    background-color:black;
}
.grid-container div{
    padding:2em;
    text-align:center;
}
header .nav-container{
    display: flex;
    justify-content: space-between;
    margin:30px 50px 0px 50px;
    align-items: center;
}
a{
    text-decoration: none;
    color:hsl(0, 0%, 95%);
    padding:10px 27px;
    text-align: center;
}
.first-nav, .sec-nav{
    background-color: hsl(184, 100%, 22%) ;
    padding:10px 27px;
    border:none;
    border-radius: 25px;
}
.first-nav:hover, .sec-nav:hover{
    background-color: hsl(60, 96%, 26%);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.grid-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: 
    'a a b'
    'c d d'
    'c e e'
    ;
    grid-gap:5px;
    width:50%;
    margin:auto;
}
.item-a{
    background-color:rgb(255, 0, 111);
    grid-area: a;
}
.item-b{
    background-color:rgb(255, 217, 0);
    grid-area: b;
}
.item-c{
    background-color:rgb(85, 255, 0);
    grid-area: c;
}
.item-d{
    background-color:rgba(0, 247, 255, 0.823);
    grid-area: d;
}
.item-e{
    background-color:rgba(0, 247, 255, 0.823);
    grid-area: e;
}
